<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Library', root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Ajouter un lien", new_link_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tags", tags_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Ajouter un tag", new_tag_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    Awesome animation made by <%= link_to "Lynn Fisher", "https://lynnandtonic.com/" %>
</span>
</nav>